.primary {
  background-color: aqua;
}

.btn {
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 4px;
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem 1rem;
  margin: 1rem;
  transition: 0.1s ease transform;
}

.btn:active {
  background-color: hsl(0, 0%, 80%);
  transform: scale(0.96);
}

.btn-primary {
  border-color: green;
  background-color: greenyellow;
}

.btn-secondary {
  border-color: brown;
  background-color: red;
  color: white;
}
